html{
    scroll-behavior: smooth;
}
header{
    /* background-image: url('./Images/back2.jpg') !important; */
    background-color: rgb(70, 70, 70) !important;
    background-size: 100% !important;
    
    background: fixed;
}
body{
    /* background-image: url('./Images/back1.jpg') !important; */
    background-color: rgb(70, 70, 70) !important;
    background-size: 100% !important;
    font-family:verdana;
    background: fixed;
}

.card-content{
    font-family:courier;
}
nav{
    /* background-image: url('./Images/back3.jpg') !important; */
    background: turquoise !important;
    background-size: 100% !important;

   
    
    background: fixed;
}
nav>a{
    color: rgb(0, 0, 0) !important;
    background-color: transparent ;
}
li>a{
    color: rgb(0, 0, 0) !important;
   
}
section{
    /* background-color: lightsteelblue; */
    top:500px;
    opacity: 0.9;
    backface-visibility: visible;
    padding: 10px;
    margin-top: 5px;
}
.cardLink{
    text-decoration: none !important;
}
.card-img-top{
    max-height: 200px;
    max-width: auto;
}

.hex {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-height: 100%; /* width * 0.866 */
    background: red;
    box-sizing: border-box;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 100% 0%, 100% 50%, 100% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 100% 0%, 100% 50%, 100% 100%, 25% 100%);
  }
#experience{
    
}
#contact{
    /* min-height: 400px; */
}
.nav-item:hover {
    background-color : rgb(196, 196, 196);
    
}

footer{
    width: 100%;
    padding-top : 50px;
    min-height: 300px;
    background-color: dimgrey;
}